@tailwind base;
@tailwind components;
@tailwind utilities;

body {
 background-color: white;
}

.styleImage {
    & img {
        padding: 40px;
    }
}

.searchDiv {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.95);
  width: 73%;
  position: fixed;
  top: 160px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid rgb(29, 85, 23);
  border-radius: 5px;
  padding: 20px;
  z-index: 55;
}

.closeDiv {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.95);
  width: 73%;
  position: fixed;
  top: 160px;
  border: 5px solid rgb(29, 85, 23);
  border-radius: 5px;
  padding: 10px;
  display: flex;
  justify-content: end;
  z-index: 55;
}

.divider {
    width: 2px; /* Largura da linha vertical */
    background-color: black; /* Cor da linha vertical */
    height: 100vw;
  }


.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 60%;
  width: 100%;
  height: 100%;
  margin-top: 80px;
  padding: 50px;
  overflow-y: auto;
}

.text-shadow {
  text-shadow: 2px 1px 2px rgba(255,255,255);
}



